body {
    background-color: blueviolet;
    padding: 20px;
}

div#content, div#login, div#cadastro {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    max-width: 400px;
}